body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

button {
  background-color: #8B0000;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #DC143C;
  transform: scale(1.1);
}
